# IDEs
.idea/
.vscode/
*.iml

# Environment
.env
venv/
__pycache__/
*.py[cod]

# OS files
.DS_Store
Thumbs.db

# Django
db.sqlite3
media/
staticfiles/
*.log

# Testing
.pytest_cache/
coverage/
htmlcov/

# Others
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
